@model MvcApplication16.Models.QPage

<table>
    @{int i = 0, j = 0;}
    <tr>
        <th></th>
        <th></th>
    </tr>


    @*  @foreach (var questions in Model.questions[Model.CurrentPage - 1])
    {

                @Html.HiddenFor(x=>questions.QuestionId, questions.QuestionId)
                <b> @Html.DisplayFor(Text => questions.Text)</b> 
                @Html.HiddenFor(x=> questions.Text,questions.Text)

         foreach (var Answers in questions.Answers)
            {
            <tr>
                <td>
                    @Html.HiddenFor(x=> Answers.AnswerId,Answers.AnswerId)
                    @Html.HiddenFor(x=> Answers.Text,Answers.Text)
                    @Html.CheckBoxFor(x=> Answers.IsCorect,Answers.IsCorect)
                    @Html.HiddenFor(x=> Answers.QuestionId,Answers.QuestionId)
                    @Html.DisplayFor(Text => Answers.Text)

                </td>

            </tr>
            }
    }*@

    @foreach (var question in Model.questions[Model.CurrentPage - 1])
    {
        <tr>
            <td>
                @Html.Hidden("questions[" + i + "].QuestionId", question.QuestionId)
                @Html.Hidden("questions[" + i + "].QuestionId", question.QuestionId)
                <b>@Html.DisplayFor(Text => question.Text)</b>
                @Html.Hidden("questions[" + i + "].Text", question.Text)
            </td>

        </tr>

        { j = 0; }

      
            foreach (var answer in question.Answers)
            {
            <tr>
                <td>
                    @Html.Hidden("questions[" + i + "].Answers[" + j + "].AnswerId", answer.AnswerId)
                    @Html.Hidden("questions[" + i + "].Answers[" + j + "].Text", answer.Text)

                  @*  @if (question.CorrectAnswers > 1)
    {*@
                        @Html.CheckBox("questions[" + i + "].Answers[" + j + "].Checked", answer.Checked)
              @*      }
                    else
                    {
                        
                            @Html.RadioButton("questions[" + i + "].Answers[" + j + "].Checked", true, answer.Checked)
                       
                    }*@
                    @Html.Hidden("questions[" + i + "].Answers[" + j + "].IsCorect", answer.IsCorect)
                    @Html.Hidden("questions[" + i + "].Answers[" + j + "].QuestionId", answer.QuestionId)
                    @Html.DisplayFor(Text => answer.Text)

                </td>

            </tr>
            { j++; }
            }
       
                    { i++; }
    }
</table>
