@model MvcApplication16.Models.QPage

<table>
    @{int i=0,j=0;}
    <tr>
        <th>
          
        </th>
        <th></th>
    </tr>


  @*  @foreach (var questions in Model.questions[Model.CurrentPage - 1])
    {

                @Html.HiddenFor(x=>questions.QuestionId, questions.QuestionId)
                <b> @Html.DisplayFor(Text => questions.Text)</b> 
                @Html.HiddenFor(x=> questions.Text,questions.Text)

         foreach (var Answers in questions.Answers)
            {
            <tr>
                <td>
                    @Html.HiddenFor(x=> Answers.AnswerId,Answers.AnswerId)
                    @Html.HiddenFor(x=> Answers.Text,Answers.Text)
                    @Html.CheckBoxFor(x=> Answers.IsCorect,Answers.IsCorect)
                    @Html.HiddenFor(x=> Answers.QuestionId,Answers.QuestionId)
                    @Html.DisplayFor(Text => Answers.Text)

                </td>

            </tr>
            }
    }*@

   @foreach (var questions in Model.questions[Model.CurrentPage-1])
    {
        <tr>
            <td>
                @Html.Hidden("questions[" + i + "].QuestionId", questions.QuestionId)
                @Html.Hidden("questions[" + i + "].QuestionId", questions.QuestionId)
                <b> @Html.DisplayFor(Text => questions.Text)</b> 
                @Html.Hidden("questions[" + i + "].Text", questions.Text)
            </td>

        </tr>

        { j = 0; }

  
            foreach (var Answers in questions.Answers)
            {
            <tr>
                <td>
                    @Html.Hidden("questions[" + i + "].Answers[" + j + "].AnswerId", Answers.AnswerId)
                    @Html.Hidden("questions[" + i + "].Answers[" + j + "].Text", Answers.Text)
                    @Html.CheckBox("questions[" + i + "].Answers[" + j + "].IsCorect", Answers.IsCorect)
                    @Html.Hidden("questions[" + i + "].Answers[" + j + "].QuestionId", Answers.QuestionId)
                    @Html.DisplayFor(Text => Answers.Text)

                </td>

            </tr>
                { j++; }
            }
             { i++; }
        }   
</table>