@model MvcApplication16.Models.ResoultSaveModel

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>ResoultSaveModel</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.TestName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TestName)
            @Html.ValidationMessageFor(model => model.TestName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UserName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UserName)
            @Html.ValidationMessageFor(model => model.UserName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Mark)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Mark)
            @Html.ValidationMessageFor(model => model.Mark)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Started)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Started)
            @Html.ValidationMessageFor(model => model.Started)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Finished)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Finished)
            @Html.ValidationMessageFor(model => model.Finished)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
