@model Model.DB.CabinetModel
@{
    ViewBag.Title = "Cabinet";
}

<h2>Cabinet</h2>


@foreach (var i in Model.tests)
{
    @Html.Partial("_ShowTLink", i)
}


<table>
    

    <tr>
        <th>@Html.LabelFor(x=>x.RSM.First().TestName)</th>

        <th>@Html.LabelFor(x=>x.RSM.First().Mark)</th>

        <th>@Html.LabelFor(x=>x.RSM.First().Started)</th>

        <th>@Html.LabelFor(x=>x.RSM.First().Finished)</th>
    </tr>

    @if(Model.RSM.Count>0)
    {
        foreach (var i in Model.RSM)
        {
            @Html.Partial("_ShowResult", i);
        }
    }
    else
    {
        <p>You are not have resoults yet</p>
    }

</table>
